# dependencies
node_modules
.pnp
.pnp.js

# build
.next
out
dist
build
.turbo

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# os
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage

# vercel
.vercel

# build logs
*.build-out.txt
.build-out.txt
.typecheck-out.txt
