# Discord
DISCORD_BOT_TOKEN=

# Aplicación Limitless
LIMITLESS_API_URL=https://otc-plaform.vercel.app
LIMITLESS_WEBHOOK_SECRET=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Bot config
NODE_ENV=production
